<h2>{{currentMonth}}</h2>
<table>
  <tr class="other-categories__total">
    <td>Łącznie</td>
    <td>{{money total}}</td>
  </tr>
{{#each categories as |category|}}
  <tr>
    <td>{{category.name}}</td>
    <td class="{{if category.isOverspent 'is-overspent'}}">
      {{money category.activity}}
    </td>
  </tr>
{{/each}}
</table>
