<h2>Na co wydaliśmy w tym miesiącu</h2>
<table>
  <tr class="other-categories__total">
    <td>Łącznie</td>
    <td>{{money total}}</td>
  </tr>
{{#each categories as |category|}}
  <tr>
    <td>{{category.name}}</td>
    <td class="{{if category.isOverspent 'is-overspent'}}">
      {{money category.activity}}
      {{#if category.isOverspent}}
        (-{{money category.balance}})
      {{/if}}
    </td>
  </tr>
{{/each}}
</table>
